.converter .converter-top {
  margin-top: 10px;
}

.converter .label {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Courier';
  margin-top: 5px;
  margin-bottom: 2px;
}

.converter .mini-label {
  font-size: 10px;
  font-family: 'Courier';
}

.converter .converter-left {
  width: 48%;
  float: left;
  margin-left: 1%;
}

.converter textarea {
  width: 100%;
}

.converter .converter-results {
  font-family: 'Courier';
}

.converter .converter-results table {
  width: 100%;
}

.converter .converter-results table td.td-left {
  width: 85%;
}

.converter .converter-results table td.td-right {
  text-align: center;
}

.converter button {
  padding: 1px;
  padding-right: 2px;
  opacity: 0.7;
  border-radius: 4px;
}

.converter button:hover {
  opacity: 1;
}

.converter .moveup-btn {
  font-size: 18px;
  margin-bottom: 1px;
}

.converter .converter-right {
  float: right;
  width: 48%;
}
