html,
body {
  padding: 0;
  margin: 5px;
}

body {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

/* BEGIN easy-tabs default styles */
.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
/* END easy-tabs default styles */

/* BEGIN easy-tabs style overrides */
.tab a, .tab a:hover {
  color: black;
  text-decoration: none;
}

.right-tab {
  float: right;
}
/* END easy-tabs style overrides */

.parser-container {
  float: left;
  display: inline;
  text-align: center;
}

#parser-left {
  width: 100%;
}

#parser-right {
  width: 0%;
}

#parser-right-inner {
  display: none;
}

.parser-container * {
  text-align: left;
}

button.collapse-parser {
  display: inline;
  float: right;
}
