.parser textarea {
  margin-top: 10px;
  width: 95%;
}

.parser .parser-results {
  overflow: overlay;
  width: 95%;
  padding-bottom: 20px; /* for overlay scrollbar */
  margin-left: 1.5%;
}

.parser table.url {
  font-family: 'Courier New';
  font-size: 14px;
}

.parser td.heading {
  white-space: nowrap;
  font-weight: bold;
  padding-top: 5px;
}

.parser td.key {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}
