.zendesk {
  margin-top: 10px;
}

.zendesk hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.zendesk .zd-settings-btn {
  float: right;
  font-size: 20px;
}

.zendesk .settings {
  display: none;
}

.zendesk .zd-add-btn {
  margin-left: 5px;
}

.zendesk .zd-settings-btns {
  margin-top: 3px;
  margin-bottom: 10px;
}

.zendesk .zd-bk-list .zd-bk-header {
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}

.zendesk .zd-bk-list button.delete {
  margin-left: 5px;
}

.zendesk .zd-bk-list li a {
  text-decoration: none;
  font-family: Courier;
}
